extends layout

block content

    h2  Financeiro
    - var total = 0
    - var diasReceber = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    each aluno in user.alunos
      - total = total + parseInt(aluno.valor)
      - diasReceber[parseInt(aluno.dia_pagamento)-1] = parseInt(aluno.valor)
    each dia,i in diasReceber
      ul.clicavel
        if dia!=0
          li
            p Dia #{i+1}: R$#{dia}
    h5 Total a receber no mes: R$#{total}
      
    script(src='/javascripts/scripts_personalizados.js')
    script(src='javascripts/bootstrap.min.js')
