extends layout

block content
	div
		div
			div
				h1.text-center.login-title Login
					div.account-wall
						img(class='profile-img', src='/img/photo.png')
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='Password', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Entrar
							span.clearfix
					a(href='/signup', class='text-center new-account') Criar Conta
					#message
					if message
						h1.text-center.error-message #{message}
