doctype html
html
  head
    title= VanOnline
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style_sistema.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
      
  body
    block content
